.stopwatch {
    display: grid;
    padding: 20px;
}

.main_container {
    display: grid;
}

.clock_face {
    font-size: 70px;
}

.stopwatch_buttons {
    display: grid;
    justify-content: space-around;
    grid-auto-flow: column;
    margin-top: 50px;
}

button {
    width: 150px;
    background-color: white;
    border: solid black;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}

button:active {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: solid white;
    border-radius: 5px;
}